@import "../../../../static/scss/vars";

@keyframes anim-move {
  from { left: 0 }
  to { left: -1000px }
}

@keyframes anim-shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

div.login-form {
  position: relative;
  max-width: 500px;
  margin: 10vh auto 0;
  padding: 50px 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: $body-bg;
  box-shadow: 0 0 20px 1px #ccc;

  &.anim-move {
    animation-name: anim-move;
    animation-delay: 1.75s;
    animation-duration: 0.25s;
    animation-timing-function: linear;
  }

  &.anim-shake {
    animation-name: anim-shake;
    animation-duration: 0.82s;
    animation-timing-function: cubic-bezier(.36,.07,.19,.97);
    animation-fill-mode: both;
  }

  label {
    margin-bottom: .25rem;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  button {
    margin-top: 50px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .spinner-border {
    width: 1.7rem;
    height: 1.7rem;
  }
}

.login-container {
  .alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}
