.headroom {
  background-color: white;
  box-shadow: 0 0 5px 1px #ccc;

  .container {
    display: flex;
    align-items: center;
    min-height: 50px;

    .burger-ico {
      position: absolute;
      fill: maroon;
      left: 10px;
    }
  }

  a {
    color: inherit;
    font-weight: bold;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  button {
    margin-left: auto;
  }
}
