.app-header {
  background-color: white;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px 1px #ccc;

  .container {
    display: flex;
    align-items: center;
    min-height: 50px;
  }

  a {
    color: inherit;
    font-weight: bold;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  button {
    margin-left: auto;
  }
}
