@import "../../../static/scss/vars.scss";

.app-footer {
  color: white;
  display: flex;
  min-height: $footer-height;
  align-items: center;
  background-color: rgba(128, 0, 0, 0.75);
  margin-top: -$footer-height;
}
