.user-show-page {
  .avatar-container {
    display: flex;
    align-items: center;

    img { margin-right: 15px; }

    h4 {
      margin-bottom: 0;
      margin-right: 15px;
    }

    button { margin-left: auto; }
  }
}
