// 400 //
@font-face {
  font-family: 'Indie Flower';
  src: local('Indie Flower'), local('Indie-Flower'), local('Indie_Flower'),
    url('../fonts/IndieFlower/400/IndieFlower.woff2') format('woff2'),
    url('../fonts/IndieFlower/400/IndieFlower.woff') format('woff'),
    url('../fonts/IndieFlower/400/IndieFlower.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
