// reset
// @import "reset/normalize.css";
// @import "reset/bootstrap-reboot.css";
// @import "reset/reset.css";

// vars
@import "vars";

// fonts
@import "fonts/consolas";
@import "fonts/roboto";
@import "fonts/indie-flower";

// bootstrap with reboot
@import "~bootstrap/dist/css/bootstrap.min.css";

// react-table
@import "~react-table/react-table.css";


body {
  background-color: $body-bg;
}

.spacer { padding-top: 30px }

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
